@import '/scss/variables.scss';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
    min-height: 100vh;


    header {
        height: 25vh;
        background-image: linear-gradient(to right, rgb(237, 237, 31), rgb(252, 74, 74));
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 1rem 3rem;

        ul.menu2 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    font-size: 1.5rem;
                    color: rgb(44, 42, 42);
                    cursor: pointer;
                }
            }
        }

        div.logo {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            h1 {
                font-size: 2rem;
                font-weight: 900;

                span {
                    color: red;
                }
            }

            img {
                width: 4rem;
                height: 4rem;
            }
        }

        button.hamburger {
            display: none;
            width: 25px;
            height: 25px;
            top: 5px;
            right: 5px;
            margin: 0;
            border-radius: 25%;
            border: blue;
            background-color: transparent;

            i:last-child {
                background-color: $white-primary;
            }

            img {
                width: 16px;
                height: 16px;
                border-radius: 25%;
            }
        }
    }
}

footer {
    background-image: linear-gradient(to left, rgb(237, 237, 31), rgb(252, 74, 74));
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem;
    min-height: 8vh;
    margin-top: 1rem;
    max-height: 9vh;
    flex-grow: 1;

    section {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        a {
            cursor: pointer;

            img {
                border-radius: 15%;
            }
        }
    }
}


.menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: $white-primary;
    text-decoration: none;
}

.menuItem:hover {
    text-decoration: underline;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: $white-primary;
    cursor: pointer;
}

.closeIcon {
    display: none;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: $white-primary;
    list-style: none;
    padding-top: 4rem;
}

.showMenu {
    transform: translateY(0);
}


@media (max-width: 480px) {

    body {

        header {
            width: 100vw;
            height: 10vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1rem;

            ul.menu2 {
                display: none;
            }

            button.hamburger {
                display: flex;
                top: 10px;
            }
        }

        footer {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            min-height: 6vh;
            max-height: 6vh;
            background-position: center 27%;

            section {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;

                a {
                    cursor: pointer;

                    img {
                        width: 25px;
                        height: 25px;
                        border-radius: 15%;
                    }
                }
            }

        }
    }


}